<div class="center-horizontal">
  <div class="center-vertical section-box">
    <h1>アカウントにログイン</h1>
    <form action="/signin" method="post" enctype="multipart/form-data" class="center-vertical standard-form">
      <input type="text" name="email" placeholder="メールアドレス" required>
      <input type="password" name="password" placeholder="パスワード" required>
      <input type="submit" value="Sign in">
    </form>
    <p>アカウントがない方は <a href="/signup">こちら</a></p>
  </div>
</div>